.home {
	font: 14px;
}
.interest {
	background: #3a57c4;
	text-align: center;
	color: whitesmoke;
	font-family: sans-serif;
	font-weight: 500;
}
.hdisplay {
	background: #e7e8eb;
}
.footer {
	background: #011661;
	height: 120px;
	color: whitesmoke;
}
.title {
	font-weight: 1000;
}
@media only screen and (max-width: 600px) {
	.homeImg {
		height: 300px;
		width: 320px;
	}
}
@media only screen and (min-width: 600px) {
	.homeImg {
		height: 350px;
		width: 400px;
	}
}
@media only screen and (min-width: 768px) {
	.homeImg {
		height: 400px;
		width: 500px;
	}
}
@media only screen and (min-width: 992px) {
	.homeImg {
		height: 450px;
		width: 600px;
	}
}
@media only screen and (min-width: 1200px) {
	.homeImg {
		height: 500px;
		width: 700px;
	}
}
