.width {
	max-width: 400px;
}
.form {
	margin: auto;
	max-width: 450px;
}
.logImg {
	height: 20rem;
	width: 25rem;
}

@media only screen and (max-width: 400px) {
	.logImg {
		height: 20rem;
		width: 20rem;
	}
}
