.not-allowed {
	cursor: not-allowed;
}
.userSection {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 768px) {
	.user {
		width: 320px;
		height: 460px;
		margin: auto;
	}
	.bbb {
		font-size: 15px !important;
		width: 100px;
		margin-left: 20px;
		margin-right: 20px;
		border-radius: 50px;
	}
	.userImg {
		width: 20em;
		height: 450px;
		margin: auto;
	}
}

@media only screen and (min-width: 768px) {
	.user {
		width: 350px;
		height: 450px;
		margin: auto;
	}
	.bbb {
		font-size: 15px !important;
		width: 100px;
		/* margin: auto; */
		border-radius: 50px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.userImg {
		width: 25em;
		height: 450px;
		margin: auto;
	}
}
@media only screen and (min-width: 992px) {
	.user {
		width: 350px;
		height: 450px;
		margin: auto;
	}
	.bbb {
		width: 100px;
		/* margin: auto; */
		border-radius: 50px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.userImg {
		width: 30em;
		height: 450px;
		margin: auto;
	}
}
@media only screen and (min-width: 1200px) {
	.user {
		width: 450px;
		height: 450px;
		margin: auto;
	}
	.bbb {
		width: 120px;
		border-radius: 50px;
		/* margin: auto; */
		margin-left: 50px;
		margin-right: 50px;
	}
	.userImg {
		width: 40em;
		height: 450px;
		margin: auto;
	}
}
