.notfound {
	background: url(../../images/dougnut.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
@media only screen and (max-width: 768px) {
	.notfound {
		background-size: contain;
	}
}
.ntf {
	border-radius: 50px;
	padding: 15px;
}
